<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body
    style="font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: center"
  >
    <img src="https://flamingo.cfapps.io/logo.png" alt="Help Refugees logo" />
    <div style="margin: 24px; text-align: center">
      <h4
        style="margin: 0; font-size: 24px; font-weight: 400; display: inline-block; max-width: 500px; text-align: center"
      >
        You've been invited to HelpRefugees reporting tool, please register your
        account to start submitting report.
      </h4>
    </div>

    <div style="margin: 24px; text-align: center">
      <p
        style="margin: 0; display: inline-block; max-width: 500px; text-align: center"
      >
        To reset your password please click on the button below and follow the
        steps.
      </p>
    </div>

    <div style="margin: 24px; text-align: center">
      <a
        href="https://flamingo-dev.cfapps.io/reset-password?token={{48318512__resetToken}}"
        style=" background-color: #00857b; border-radius: 4px; color: white; letter-spacing: 0.8px; max-width: 500px; padding: 18px 54px; text-align: center; text-decoration: none; text-transform: uppercase;display: inline-block"
      >
        Create you password
      </a>
    </div>
    <div style="margin: 24px; text-align: center">
      <p
        style="margin: 0; display: inline-block; max-width: 500px; text-align: center"
      >
        If you have any problem or questions, feel free to email us on
        <a
          href="mailto:inquiry@helprefugees.com"
          style=" color: #00857b; text-decoration: none"
        >
          inquiry@helprefugees.com
        </a>
      </p>
    </div>

    <div>
      <p style="margin: 0">
        <a
          href="https://flamingo.cfapps.io"
          style=" color: #00857b; text-decoration: none"
        >
          https://flamingo.cfapps.io
        </a>
      </p>
    </div>
  </body>
</html>
